<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color = "primary">Registration Page</mat-toolbar>
            <form fxLayoutAlign="strech" fxLayout="column" class="login-form" [formGroup]="RegistrationForm" (ngSubmit)="register()">
                <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type ="text" placeholder="First Name" formControlName="firstName">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type ="text" placeholder="Last Name" formControlName="lastName">
                  </mat-form-field>
                <mat-form-field>
                    <input matInput type ="password" placeholder="Password" formControlName="password">
                  </mat-form-field>
                  
                  <button mat-raised-button type = "submit" class="login-btn" color = "primary"> Register </button>
                  <button mat-raised-button  class="reg-btn" (click)="moveToLogin()"> Cancel </button>
            </form>
    </mat-card>
</div>